openapi: 3.0.3
info:
  title: BankruptcyWatch PACER Cases Claims API
  description: The BankruptcyWatch PACER API provides a comprehensive suite of services for interacting with United States Bankruptcy Court data via PACER (Public Access to Court Electronic Records). The API enables creditors, lenders, and legal teams to search for bankruptcy cases, retrieve case details, file documents, monitor case activity, and automate bankruptcy workflows including Proof of Claim filing and loan restructuring.
  version: 1.0.0
  contact:
    url: https://www.bankruptcywatch.com/api-kickoff
servers:
- url: https://api.bankruptcywatch.com/v1
  description: BankruptcyWatch API Production
security:
- ApiKeyAuth: []
tags:
- name: Claims
paths:
  /cases/{caseId}/claims:
    get:
      operationId: listClaims
      summary: List Claims
      description: Retrieve the claims register for a specific bankruptcy case.
      tags:
      - Claims
      parameters:
      - name: caseId
        in: path
        required: true
        description: BankruptcyWatch case identifier
        schema:
          type: string
      responses:
        '200':
          description: Claims register
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: fileProofOfClaim
      summary: File Proof of Claim
      description: File a Proof of Claim document with the bankruptcy court for a specific case.
      tags:
      - Claims
      parameters:
      - name: caseId
        in: path
        required: true
        description: BankruptcyWatch case identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProofOfClaimRequest'
      responses:
        '201':
          description: Proof of Claim filed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofOfClaimResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Claim:
      type: object
      description: A claim in a bankruptcy case claims register
      properties:
        claimId:
          type: string
        caseId:
          type: string
        claimNumber:
          type: string
        creditorName:
          type: string
        claimAmount:
          type: number
          format: double
        securedAmount:
          type: number
          format: double
        unsecuredAmount:
          type: number
          format: double
        status:
          type: string
        dateFiled:
          type: string
          format: date
    ProofOfClaimRequest:
      type: object
      description: Proof of Claim filing request
      required:
      - creditorName
      - claimAmount
      - basisForClaim
      properties:
        creditorName:
          type: string
        creditorAddress:
          type: string
        claimAmount:
          type: number
          format: double
        securedAmount:
          type: number
          format: double
        basisForClaim:
          type: string
        accountNumber:
          type: string
        attachmentUrls:
          type: array
          items:
            type: string
    ProofOfClaimResponse:
      type: object
      description: Proof of Claim filing response
      properties:
        claimId:
          type: string
        caseId:
          type: string
        confirmationNumber:
          type: string
        status:
          type: string
        filedAt:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      description: API error response
      properties:
        errorCode:
          type: string
        message:
          type: string
        requestId:
          type: string
    ClaimsResponse:
      type: object
      description: Claims register response
      properties:
        caseId:
          type: string
        claims:
          type: array
          items:
            $ref: '#/components/schemas/Claim'
        totalCount:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: BankruptcyWatch API key
